{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ChangeLog list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Version</th>
                <th>Dateentered</th>
                <th>Dateofdeployment</th>
                <th>Comments</th>
                <th>Servicenowticketref</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('changelog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.version }}</td>
                <td>{{ entity.dateEntered }}</td>
                <td>{{ entity.dateOfDeployment }}</td>
                <td>{{ entity.comments }}</td>
                <td>{{ entity.servicenowTicketRef }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('changelog_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('changelog_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('changelog_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
